apiVersion: v1
kind: Service
metadata:
  name: {{ template "fullname" . }}
  labels:
    app: "{{ .Chart.Name }}-{{ .Chart.Version }}"
spec:
  {{- if (or (eq .Values.service.type "ClusterIP") (empty .Values.service.type)) }}
  type: ClusterIP
    {{- with .Values.service.clusterIP }}
  clusterIP: {{ . }}
    {{- end }}
    {{- else if eq .Values.service.type "LoadBalancer" }}
  type: {{ .Values.service.type }}
    {{- with .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ . }}
    {{- end }}
    {{- with .Values.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
      {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- else }}
  type: {{ .Values.service.type }}
    {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: {{ .Values.service.name }}
      {{- if (and (eq .Values.service.type "NodePort") (not (empty .Values.service.nodePort))) }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
  selector:
    app: {{ template "fullname" . }}